extends layout

block head-js
  script.
    userId = "#{userId}";
    userName = "#{live.broadcaster.name}";
block hip-js
  script(type='text/javascript',src='/javascripts/detail.js')

block content
  nav.nav
    p.nav_title=live.broadcaster.name + 'の部屋'

  main.main
    .movie
      div#filter
      div#count-area
        img#bat-img(src='/images/icon_bat.png')
        span#bat-count.count 0
        img#bat-img(src='/images/icon_foot.png')
        span#foot-count.count 0
      video#video(src=live.movie.hls_url,style='width: 100%; height: auto;',autoplay)
      svg#jsi-out(stroke-width='10px',paint-order='stroke',class='out')
        defs
          linearGradient#g0(gradientUnits='userSpaceOnUse',x1='53.7769',y1='54.2505',x2='53.7769',y2='6.9971')
            stop(offset='0',style='stop-color:#D12F00')
            stop(offset='6.390501e-02',style='stop-color:#D23204')
            stop(offset='0.1302',style='stop-color:#D33C11')
            stop(offset='0.1975',style='stop-color:#D64C25')
            stop(offset='0.2656',style='stop-color:#DA6242')
            stop(offset='0.3343',style='stop-color:#DE7F68')
            stop(offset='0.4025',style='stop-color:#E4A295')
            stop(offset='0.4511',style='stop-color:#E9BEBA')
            stop(offset='0.55',style='stop-color:#E9BEBA')
            stop(offset='0.5508',style='stop-color:#E9BDB9')
            stop(offset='0.5876',style='stop-color:#E39C8E')
            stop(offset='0.6264',style='stop-color:#DE7F68')
            stop(offset='0.6684',style='stop-color:#DA6648')
            stop(offset='0.7135',style='stop-color:#D7522E')
            stop(offset='0.7628',style='stop-color:#D44219')
            stop(offset='0.8186',style='stop-color:#D2370B')
            stop(offset='0.8863',style='stop-color:#D13103')
            stop(offset='0.9987',style='stop-color:#D12F00')
        g(font-family='YuGothic',font-size='50',font-weight='bold',font-style='italic',stroke='#000',stroke-width='10px',paint-order='stroke',style='text-shadow:-1px -1px 0 #FFF, 1px 1px 0 #000, 2px 2px 0 #000; letter-spacing: 5px')
          text#out-name(x='50%',y='80%',text-anchor='middle',fill='url(#g0)')=live.broadcaster.name + ' OUT'
    audio#jsi-dedeeen(hide,preload='auto')
      source(src='/audios/dedeeen.mp3',type='audio/mp3')

  .timeline
    each comment in comments
      - var klass = (comment.from_user.id === broadcaster.id ? 'timeline-item' : 'timeline-item is-others')

      div(class=klass)
        - var date = new Date(comment.created * 1000)
        - var hours = date.getHours();
        - var minutes = "0" + date.getMinutes();
        - var formattedTime = hours + ':' + minutes.substr(-2)
        .timeline-item_timestamp= formattedTime
        .timeline-item_content
          .timeline-item_img
            img(src="")
          .timeline-item_comment= comment.message
        .timeline-item_icon
          - if(comment.from_user)
            img(src="#{comment.from_user.image}")
            //span= comment.from_user.name
